* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 62.5%;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(20, 25, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: rgb(141, 113, 113);
  border: none;
  border-radius: 8px;
  padding: 3rem;
}
.container p {
  font-size: 1.5rem;
  color: white;
  line-height: 2.5rem;
  text-align: justify;
}

button {
  margin-top: 2rem;
  width: fit-content;
  padding: 2rem;
  color: white;
  border: none;
  border-radius: 8px;
  align-self: flex-end;
  background-color: rgb(25, 28, 29);
  cursor: pointer;
}
